@use "./variables.scss" as *;

// put your custom CSS here!
.page {
  margin-left: 2rem;
  margin-right: 0;
  
  // Optional: Ensures flex child nodes also align towards the right side
  display: flex;
  justify-content: flex-end; 
}
